@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#conts h2 {
	margin-bottom: 27px;
}

#conts .link {
	margin-bottom: 26px;
}

#conts .link li {
	float: left;
}

#conts .link01 {
	background: url(../img/index/link01_over.jpg) no-repeat;
}

#conts .link02 {
	background: url(../img/index/link02_over.jpg) no-repeat;
}

#conts .link03 {
	background: url(../img/index/link03_over.jpg) no-repeat;
}

#conts li a:hover img {
	opacity: 0; 	
	filter: alpha(opacity=0);	
　　-moz-opacity:0; 
}

#conts li.on a img {
	visibility: hidden;
}

#conts .subBox {
	margin-bottom: 36px;
}

#conts h3 {
	margin-bottom: 13px;
	padding: 5px 12px 3px;
	color: #FFF;
	font-size: 1.7em;
	border-top: 1px solid #3DA9EB;
	background: url(../img/index/h3_bg.png) no-repeat left bottom;
}

#conts p {
	clear: both;
	margin-bottom: 19px;
	font-size: 1.3em;
}

#conts .pSpecial01 {
	margin-bottom: 27px;
}

#conts .pSpecial02 {
	margin-bottom: 7px;
	font-size: 1.5em;
	font-weight: bold;
}

#conts .inner {
	margin-bottom: 5px;
	padding: 15px 0 12px 20px;
	border: 1px solid #FF9901;
}

#conts .inner .photoBox {
	margin-top: 5px;
	float: left;
}

#conts .inner ul {
	width: 517px;
	float: right;
	font-size: 1.3em;
}

#conts .inner ul li {
	padding: 0 0 3px 15px;
	background: url(../img/index/icon01.gif) no-repeat left 4px;
}

#conts table {
	margin-bottom: 11px;
	width: 100%;
	border-collapse: collapse;
}

#conts th {
	padding: 8px 10px 5px;
	font-size: 1.3em;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #D6D6D6;
	background-color: #ECF4FC;
}

#conts td {
	padding: 8px 10px 5px;
	font-size: 1.3em;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #D6D6D6;
}

#conts td p {
	margin-bottom: 5px;
	font-size: 1.0em;
	font-weight: bold;
}

#conts td ul li {
	padding: 0 0 7px 8px;
	line-height: 1.4;
	background: url(../img/index/icon02.gif) no-repeat left 6px;
}

#conts td ul li span {
	font-size: 0.85em;
}

#conts .text {
	font-size: 1.1em;
}

#conts dl {
	margin-bottom: 15px;
	padding-bottom: 16px;
	font-size: 1.3em;
	background: url(../img/index/line.png) repeat-x left bottom;
}

#conts dt {
	margin-bottom: 9px;
	padding: 3px 0 3px 28px;
	background: url(../img/index/icon03.gif) no-repeat left top;
}

#conts dd {
	padding-bottom: 5px;
	display: none;
	background: #ECF4FC url(../img/index/dd_bg.png) no-repeat left bottom;
}

#conts dd span {
	padding: 8px 0 0 9px;
	display: block;
	background: url(../img/index/dd_span_bg.png) no-repeat left top;
}

#conts dd img {
	margin-right: 6px;
}