@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
}

body {
	font-size: 62.5%;
}

body,
table,
input, textarea, select, option {
	font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.1;
}

table,
input, textarea, select, option {
	line-height: 1.1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:active {
	color: #000;
	text-decoration: underline;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	text-align: center;
	line-height: 1.5;
	color: #000000;
	background: url(../../img/common/header_bg.gif) repeat-x left top;	
}

#HtmlBody{
	text-align: left;
}

#MainBody {
	margin: 0 auto 60px;
	width: 960px;	
}

	* html #MainBody {
		zoom: 1;
	}

	*+html #MainBody {
		zoom: 1;
	}

#MainBody:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#HD {
	border-bottom: solid 1px #DEDEDE;
}

#HD .header {
	margin: 0 auto;
	width: 965px;
	padding: 7px 0 0 0;
}

#HD .innerTop .logo {
	padding: 0 35px 0 1px;
	float: left;
	text-align: center;
}

#HD .innerTop .logo span {
	margin-top: 6px;
	display: block;
}

#HD .innerTop .linkUl {
	margin: -7px 0 0;
	padding: 9px 0 9px 7px;
	position: relative;
	width: 267px;
	float: right;
	background: url(../../img/common/link_bg.gif) no-repeat left top;
}

#HD .innerTop .linkUl li {
	margin-right: 6px;
	width: 154px;
	color: #fff;
	float: left;
	text-align: center;
}

#HD .innerTop .linkUl .li01 {
	margin-right: 0 !important;
	width: 98px;
}

#HD .innerTop .linkUl span {
	margin-bottom: 5px;
	display: block;
	line-height: 1.3;
}

#HD .innerTop .linkUl img {
	display: block;
	float: left;
}

#HD .subBox {
	width: 460px;
	float: left;
	overflow: hidden;
}

#HD .subBox .imgUl {
	margin-bottom: 12px;
}

#HD .subBox .imgUl li {
	margin-right: 27px;
	float: left;
}

#HD .subBox .imgUl .li01 {
	margin-right: 0;
}

#HD .subBox .txtUl {
	margin-bottom: 23px;
	padding-right: 15px;
	text-align: right;
}

#HD .subBox .txtUl li {
	margin: 0 4px;
	font-size: 1.1em;
	display: inline;
}

#HD .subBox .txtUl li a {
	padding-left: 13px;
	background: url(../../img/common/icon05.gif) no-repeat left 4px;
}

#HD .subBox .gNavi img {
	display: block;
}

#HD .subBox .gNavi li {
	margin-right: 13px;
	float: left;
}

#HD .subBox .gNavi a {
	display: block;
}

#HD .subBox .gNavi li a:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}

#HD .subBox .gNavi .navi01 a {
	background: url(../../img/common/g_navi01_on.gif) no-repeat;
}

#HD .subBox .gNavi .navi02 a {
	background: url(../../img/common/g_navi02_on.gif) no-repeat;
}

#HD .search {
	margin-top: 11px;
	float: right;
	width: 271px;
}

#HD .search p {
	margin-right: 2px;
	padding: 2px 4px 0 7px;
	border: solid 1px #DEDEDE;
	background: #F5F4F3;
}

#HD .search img {
	margin-top: 4px;
	float: left;
}

#HD .search input {
	padding-left: 4px;
	width: 150px;
	border: none;
	height: 24px;
	color: #555;
	font-size: 1.2em;
	line-height: 28px;
	float: left;
	background: #F5F4F3;
}

#HD .search a img {
	margin-top: 7px;
	float: right;
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#gNavi {

}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
.comTop {
	margin-bottom: 20px;
	padding: 30px;
	zoom: 1;
	background: url(../../img/common/comtop_bg.gif) repeat left top;
}

.comTop .inner {
	margin: 0 auto;
	width: 960px;
}

.comTop h2 {
	float: left;
}

#pagePath {
	float: right;
	text-align: right;
	clear: both;
}

#pagePath li {
	display: inline;
}

#pagePath li a {
	text-decoration: underline;
}

#pagePath li a:hover {
	text-decoration: none;
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#MB {
	width: 735px;

	float: right;
}

/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
#LI {
	width: 190px;

	float: left;
}

#LI .borTop {
	border-top: solid 2px #E8A2AA;
}

#LI .problem {
	margin: -24px 0 7px 157px;
}

#LI .naviBox01 {
	background-color: #FBF1F0;
}

#LI .naviBox {
	margin-bottom: 17px;
	background-color: #FCF5F5;
}

#LI .naviBox ul {
	padding: 12px 14px 0;
	font-size: 1.2em;
}

#LI .naviBox ul li {
	margin-bottom: 3px;
}

#LI .txtRight {
	margin-top: 11px;
	padding: 5px 15px;
	text-align: right;
	font-size: 1.1em;
	background-color: #F8E8E6;
}

#LI .txtRight a {
	padding-left: 13px;
	background: url(../../img/common/icon06.gif) no-repeat left 3px;
}

#LI .naviBox .txtRight .on {
	padding-left: 13px;
	background: url(../../img/common/icon06_on.gif) no-repeat left 3px;
}

#LI .inner01 {
	margin-bottom: 7px;
	padding: 4px 12px 10px;
	background: #E2F4F6 url(../../img/common/side_inner01_bg.gif) no-repeat left bottom;
}

#LI .txtR {
	text-align: right !important;
}

#LI .inner01 .imgL {
	float: left;
}

#LI .inner01 .imgR {
	float: right;
}

#LI .inner01 p {
	width: 105px;
	float: right;
	font-size: 1.1em;
}

#LI .inner01 p span {
	padding: 3px 3px 0 0;
	display: block;
	text-align: right;
}

#LI .inner01 .txtL {
	width: 100px;
	float: left;
	font-size: 1.1em;
}

#LI .inner01 .txt01 {
	padding-top: 3px;
	font-size: 10px;
	float: none;
	width: 155px;
	clear: both;
}

#LI .inner01 p .red {
	font-size: 1.09em;
	color: #CE4652;
	display: inline;
}

#LI .inner01 p a {
	padding-left: 13px;
	display: inline-block;
	background: url(../../img/common/icon01.gif) no-repeat left 3px;
}

#LI .innerBtm {
	margin-bottom: 18px;
}

#LI .naviBox .imgInner {
	margin: 0 3px;
	padding: 14px 10px 10px 13px;
	font-size: 1.1em;
	background: #fff url(../../img/common/img_inner_bg.gif) no-repeat left top;
}

#LI .naviBox .imgInner li {
	margin-bottom: 11px;
	padding-bottom: 9px;
	clear: both;
	overflow: hidden;
	line-height: 1.3;
	background: url(../../img/common/line01.gif) repeat-x left bottom;
	zoom: 1;
}

#LI .naviBox .imgInner li img {
	float: left;
}

#LI .naviBox .imgInner span {
	width: 83px;
	float: right;
}

#LI .naviBox .imgInner span a {
	margin-bottom: 5px;
	font-size: 1.09em;
	color: #CF4753;
	display: inline-block;
	letter-spacing: -1px;
	line-height: 1.2;
}

#LI .none {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	background: none !important;
}

#LI .dis {
	margin: 0 auto 14px;
	display: block;
}

#LI .inner02 {
	padding: 16px 16px 10px 15px;
	background: #F5F4F3 url(../../img/common/inner_bg.gif) no-repeat left top;
}

#LI .inner02 .imgR {
	width: 62px;
	float: right;
	text-align: center;
}

#LI .inner02 .imgR img {
	margin-bottom: 3px;
	display: block;
}

#LI .inner02 .imgR a {
	padding-left: 13px;
	font-size: 1.1em;
	color: #000;
	zoom: 1;
	background: url(../../img/common/icon04.gif) no-repeat left 3px;
}

#LI .inner02 .txtL {
	width: 87px;
	font-size: 1.1em;
	float: left;
}

#LI .inner02 .txtL span {
	margin-bottom: 7px;
	display: block;
}

.mb25 {
	margin-bottom: 25px !important;
}

#LI .inner03 {
	padding-top: 17px;
	background: #F8E8E6 url(../../img/common/inner03_bg.gif) no-repeat left top;
}

#LI .inner03 .pImg {
	margin-left: 21px;
}

#LI .inner03 .pImg img {
	margin-top: -26px;
	position: relative;
}

#LI .inner03 .subBox {
	padding-top: 13px;
	margin: 0 auto;
	width: 164px;
	background: #fff url(../../img/common/sub_bg.gif) no-repeat left top;
}

#LI .inner03 .subBox img {
	margin: 0 auto;
	display: block;
}

#LI .inner03 .subBox a {
	margin: 5px 20px 8px;
	padding-left: 13px;
	display: inline-block;
	font-size: 1.1em;
	float: right;
	background: url(../../img/common/icon01.gif) no-repeat left 3px;
}

#LI .inner03 .listUl {
	margin: 8px 15px;
	font-size: 1.1em;
	clear: both;
}

#LI .txtR01 {
	margin-bottom: 10px;
	text-align: right;
	font-size: 1.1em;
}

#LI .txtR01 a {
	padding-left: 13px;
	background: url(../../img/common/icon01.gif) no-repeat left 3px;
}

#LI .inner03 .listUl li {
	padding: 0 0 7px 11px;
	margin-bottom: 5px;
	background: url(../../img/common/line01.gif) repeat-x left bottom;
}

#LI .inner03 .listUl li a {
	padding-left: 13px;
	display: inline-block;
	background: url(../../img/common/icon01.gif) no-repeat left 3px;
}

#LI .slideul {
	padding-top: 0 !important;
	display: none;
}

#LI .comNavi {
	margin-bottom: 17px;
	background: url(../../img/common/navi_box_bg.gif) repeat left top;
	zoom: 1;
}

#LI .comNavi .naviMenu {
	padding: 15px 16px 0;
}

#LI .comNavi .naviMenu li {
	padding-left: 8px;
	background: url(../../img/common/icon09.gif) no-repeat left 6px;
}

#LI .comNavi .naviMenu li a:hover {
	color: #CE4652;
}

#LI .textLink {
	border-top: 2px solid #fff;
	background: url(../../img/common/navi_box_bg.gif) repeat left top;
}

#LI .feature {
	padding-top: 10px;
	background: url(../../img/common/navi_box_bg.gif) repeat left top;
	zoom: 1;
}

#LI .comNavi .imgInner {
	background: #fff url(../../img/common/feature_ul_bg.gif) no-repeat left top;
}

#LI .comNavi .imgInner li {
	padding-left: 0;
	width: 161px;
	float: left;
}

#LI .comNavi .imgInner span {
	width: 90px;
}

#LI .problem01 {
	margin: -27px 0 10px 161px;
}

#LI .delivery {
	margin-bottom: 15px;
	background: #E2F4F6 url(../../img/common/side_delivery_bg.gif) no-repeat left bottom;
}

#LI .contactBox {
	padding-top: 7px;
}

#LI .contactBox .inner03 {
	background: url(../../img/common/contact_box_bg.gif) repeat-y left top;
	padding-top: 12px;
}

#LI .contactBox .pImg {
	margin: 0;
	padding: 0 0 11px 21px;
	width: 159px;
	position: relative;
}

#LI .contactBox .pImg img {
	margin-top: 0;
}

#LI .contactBox .pImg .photo {
	position: absolute;
	right: 0;
	top: -26px;
}

#LI .contactBox .inner03 .subBox {
	width: 174px;
	background: #fff url(../../img/common/contact_tel_bg.gif) no-repeat left top;
}

#LI .contactBox .inner03 .subBox a {
	margin-bottom: 4px;
}

#LI .contactBox .inner03 .listUl {
	margin: 8px 12px;
}

#LI .contactBox .inner03 .listUl li {
	padding-left: 20px;
}

#LI .searchBox {
	margin-bottom: 15px;
	padding: 12px 3px 10px 3px;
	background: url(../../img/common/search_box_bg.gif) repeat left top;
}

#LI .searchBox .inner {
	margin-bottom: 3px;
	padding: 11px 0 0 0;
	background: #fff url(../../img/common/search_inner_bg.gif) no-repeat left top;
}

#LI .searchBox .inner .title {
	padding: 0 0 8px 12px;
}

#LI .searchBox .inner ul {
	margin: 0 11px 6px 11px;
	padding: 0;
}

#LI .searchBox .inner .linkUl li {
	font-weight: bold;
}

#LI .searchBox .inner .linkUl li a {
	padding-left: 10px;
	background: url(../../img/common/icon09.gif) no-repeat left 6px;
}

#LI .searchBox .inner .txtRight {
	margin: 0 10px 0 13px;
	padding: 11px 0 0 0;
	background: url(../../img/common/line03.gif) repeat-x left top;
}

#LI .searchBox .inner .problemTitle {
	width: 160px;
	position: relative;
}

#LI .searchBox .inner .problemTitle a {
	position: absolute;
	right: 0px;
	top: 0px;
}

#LI .searchBox .inner .check li input {
	margin-top: 0;
	vertical-align: -2px;
}

#LI .searchBox .inner .check li select {
	width: 145px;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#FT {
	padding-top: 40px;
	overflow: hidden;
	background-color: #F5F4F3;
	clear: both;
}

#FT .ttl01 {
	margin-bottom: 34px;
	text-align: center;
}

#FT .linkUl {
	margin: 0 auto 38px;
	width: 921px;
	overflow: hidden;
	font-size: 1.2em;
}

#FT .linkUl li {
	margin-right: 30px;
	width: 161px;
	float: left;
	font-weight: bold;
}

#FT .linkUl li a {
	font-size: 0.91em;
	color: #333333;
	font-weight: normal;
	text-decoration: underline;
}

#FT .linkUl li ul {
	padding-top: 14px;
}

#FT .linkUl li ul li {
	margin: 0 0 4px 0;
	width: auto;
	float: none;
}

#FT .linkUl li ul .code {
	width: 73px;
}

#FT .linkUl li a:hover {
	text-decoration: none;
}

#FT ul li img {
	display: block;
}

#FT .linkUl .li01 {
	margin-right: 0;
	width: 155px;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

#FT .footerBtm {
	padding: 32px 0 42px;
	background-color: #444444;
	clear: both;
}

#FT .footerBtm .inner {
	margin: 0 auto;
	width: 960px;
}

#FT .footerBtm .txtR {
	width: 430px;
	float: left;
	color: #FFFFFF;
}

#FT .footerBtm .imgR {
	padding: 12px 0 12px 21px;
	width: 344px;
	float: right;
	overflow: hidden;
	background: url(../../img/common/footer_imgr_bg.gif) no-repeat left top;
}

#FT .footerBtm .imgR li {
	margin-right: 25px;
	float: left;
}

#FT .footerBtm .txtUl {
	padding-bottom: 14px;
	margin-bottom: 11px;
	zoom: 1;
	background: url(../../img/common/line01.gif) repeat-x left bottom;
}

#FT .footerBtm .txtUl li {
	display: inline;
	font-size: 1.1em;
}

#FT .footerBtm .txtUl a {
	color: #fff;
}

#FT .footerBtm .tweet {
	margin-top: 11px;
}

#FT .footerBtm .tweet li {
	margin-right: 9px;
	float: left;
}

.FT {
	padding: 32px 0 27px !important;
	background: #444 url(../../img/common/ft_bg.gif) repeat-x left top !important;
}

.FT .footerBtm {
	margin: 0 auto !important;
	padding: 0 !important;
	width: 960px !important;
	background: none !important;
}

.FT .footerBtm .txtUl li,
.FT .footerBtm p {
	color: #FFF;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: #3D3D3D;}
#colorbox{}
    #cboxContent{margin-top:32px; overflow:visible;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{padding:1px;}
        #cboxLoadingGraphic{background:url(../../img/common/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;}
        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background:url(../../img/common/close.png);width:29px;height:29px; right:18px;top:-12px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="../img/common/close.png");_background:none;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
