@charset "utf-8";
/*------------------------------------------------------------
	topSec
------------------------------------------------------------*/
#main .topSec {
	padding: 31px 110px 39px 0;
	background: url(../img/main/bg_top_sec.png) no-repeat right top;
}

#main .topSec h3 {
	width: 503px;
	float: right;
	text-align: right;
}

/*------------------------------------------------------------
	pageTop
------------------------------------------------------------*/
.pageTop {
	margin: 0 auto 12px;
	width: 1180px;
	text-align: right;
}

/*------------------------------------------------------------
	redTxt
------------------------------------------------------------*/
#main .redTxt {
	color: #C52600;
	font-weight: bold;
}