@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/

ul {
	margin-bottom: 10px;
	font-size: 13px;
}

ul li {
	margin-bottom: 3px;
}
