@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/

li {
	float: left;
	margin-right: 10px;
}

li a.on {
	background: #C96;
}