@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/

ul {
	margin-bottom: 30px;
}

ul li {
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 70px;
	overflow: hidden;
}
